<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      photoCover="https://img.freepik.com/fotos-gratis/conceito-de-midia-social-com-smartphone_52683-100042.jpg?w=740&t=st=1687914111~exp=1687914711~hmac=77a20b142c496fe2d89b86d50ecb3489dc82a3753c623585e8c8b1616646e1e2"
      cardTitle="Novos aplicativos"
      cardDescription="Novos aplicativos"
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="no rede 6G +"
      photoCover="https://img.freepik.com/fotos-gratis/esfera-azul-brilhante-segurada-por-mao-humana-gerada-por-ia_188544-41033.jpg?w=900&t=st=1687913898~exp=1687914498~hmac=8a28d46486f1b5a85ebbf4d36b7f8beb278c067f070ca22b432e194412b924bc"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="Novo vida no campo é mais saudavel"
      photoCover="https://img.freepik.com/fotos-gratis/bela-paisagem-de-um-rio-cercado-por-muito-verde-em-uma-floresta_181624-40482.jpg?w=740&t=st=1687913630~exp=1687914230~hmac=886f14f38c08eb2771d400c4b09a3c4f64bc68f1a0bacf133e027aee92950172"
    >
    </app-small-card
    >

    <app-small-card
      Id="4"
      cardTitle="Novo Neon que ativa anoite"
      photoCover="https://img.freepik.com/fotos-gratis/fundo-de-ficcao-cientifica-futurista-moderno_35913-2152.jpg?w=740&t=st=1687913574~exp=1687914174~hmac=8fbfb864b14cfc75319188c526377fc02d5d85391adfd03e11b325dbc671aead"
    >
    </app-small-card>
  </div>
</div>
